* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    background-color: rgb(247, 244, 244);
}
@font-face {
    font-family:'lato';
    src: url(../adaptation/fonts/Lato-Black.ttf) format("ttf");
    font-weight: 300;

}

@font-face {
    font-family:'lato';
    src: url(../adaptation/fonts/Lato-Black.ttf) format("ttf");
    font-weight: 500;

}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    padding-top: 40px;
    padding-left: 10px;`
    background-color: rgb(247, 244, 244);
    font-family: 'lato';
}
.header {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 50%;
    align-items: center;
    padding-bottom: 40px;
}
.kelvin {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.mini-header {
    width: 100%; 
    display: flex;
    
}
.nav {
    display: flex;
}
.ul-header {
    display: flex;
    list-style-type: none;
    justify-content: end;
    gap: 20px;
}

.burger__menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger__line {
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: black;
}

.a-miniheader {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.a-miniheader:hover {
    text-decoration: none;
    color: gray;
    transition: 0.3s;
}
.afterheader {
    background-color: rgb(247, 244, 244);
    width: 100%;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
.p-first-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    width: 450px;
    padding-bottom: 20px;
    line-height: 1.2;
}
.p-second-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 450px;
    line-height: 2;
}
.manimg {
    min-width: 400px;
    max-height: 450px;
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.div-imgmid {
    width: 100%;
    max-width: 350px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.img-midmain {
    width: 40%;
    
}
.h1-mid {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.p-mid {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 385px;
    font-size: 17px;
    line-height: 1.6;
}
.main-start {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}
.main-mid {
    background-color: rgb(247, 244, 244);
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    
}
.portfolio-p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.firstmaket {
    max-width: 100%;
}
.div-maket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.a-firstmaket {
   color: black;
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   font-size: 20px;
   transition: ease-in, 0.2s;
}
.a-firstmaket:hover {
    transform: scale(1.05);
    transition: 0.2s;
}
.footer {
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.p-footer {
    color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
}
.footer-p {
    width: 300px;
    text-align: center;
}

.a-button-footer {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 160px;
    height: 40px;
    border-radius: 16px;
    transition: ease-in, 0.2s;
}
.a-button-footer:hover {
    transform: scale(1.1);
    transition: 0.1s;
}
.links-footer {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.img-footer-links {
    transition: ease-in 0.1s;
}
.img-footer-links:hover {
    transition: 0.6s;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
}
.footer-end {
    color: rgb(175, 174, 174);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
@media (max-width:1300px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 1300px;
    }

}
@media (max-width: 930px) {
    .header {
        
    }
    
    .burger__menu {
        display: flex;
    }
 
    .header {
        max-width: 600px;
        background-size: 100%;
        display: flex;
        justify-content: space-between;
        
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1000px;
        background-size: 100%;
        gap: 100px;
        margin: 15px 15px;
    }
    .afterheader {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1000px;
        background-size: 100%;
        gap:0;
    }

    .ul-header {
        display: none;
    }
}
@media (max-width:790px) {
    .main-mid {
       width: 100%;
       max-width: 100%;
       display: flex;
       justify-content: center;
    }
    .div-maket {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-start {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
    .div-imgmid {
        width: 50;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .container {
        
    }
    .afterheader {
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .burger__menu {
        display: flex;
    }
    .ul-header {
        width: 100%;
        height: 580px;
        justify-content: center;
        align-items: center;
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: black;
        padding-top: 20px;
        display: none;
        .a-miniheader {
            color: white;
        }
        .a-miniheader:hover {
            color: wheat;
        }
        top: -600px;    
        left: 0;
        transition: transform 0.4s ease-in-out;
        transform: translateY(100%);
    }
    .nav {
        width: 100%;
    }
    .li-miniheader {
        width: 100%;
        text-align: center;
        height: 30px;
        padding: 35px;
    }
    .a-miniheader {
        width: 100%;
        font-family: 'lato';
        font-size: 20px;
    }
    .li-miniheader:hover {
        background-color: orangered;
    }
    .main-start {
        flex-direction: column; 
        align-items: center;
        gap: 40px;
    }
    .div-imgmid {
        width: 100%;
        max-width: 385px;
        box-sizing: border-box;
    }
    .firstmaket {
        width: 100%;
    }
    .header {
        display: flex;
        justify-content: center;
        gap: 70%;
    }
}

